@font-face {
  font-family: 'BloomingElegantSans-Bold';
  src: url('../fonts/BloomingElegantSans-Bold.woff') format('woff'),
  url('../fonts/BloomingElegantSans-Bold.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: wrap;
}

