.title
  width: 100%
  background: url("../img/bg-title.jpg") center/cover no-repeat
  height: 790px
  &__line
    width: 100%
    height: 4px
    color: #adabab
  &__head
    padding: 12px 21px
    width: 85%
    font-family: 'BrutaGlbRegular-Regular', sans-serif
    background-color: rgba(214, 221, 229, 0.8)
    font-size: 50px
  &__group
    display: flex
    justify-content: space-between
    align-items: flex-start
  &__button
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    text-align: center

    & span
      margin-bottom: 10px
      margin-top: 20px
      text-transform: uppercase
      color: $light
      font-size: 12px

    & button
      background-color: transparent
      border: none
      outline: none
      & img
        width: 35px
        height: 35px




.group-text
  display: flex
  flex-direction: column
  justify-content: flex-start
  align-items: flex-start
  margin-right: 40px

  &__slogan
    margin-top: 0
    padding: 12px 18px
    font-size: 30px
    line-height: 120%
    font-weight: normal
    font-family: 'BrutaGlbRegular-Regular', sans-serif
    background-color: rgba(214, 221, 229, 0.8)
  &__small-text
    margin-top: 0
    padding: 12px 18px
    font-size: 30px
    line-height: 120%
    font-weight: normal
    font-family: 'BrutaGlbRegular-Regular', sans-serif
    background-color: rgba(214, 221, 229, 0.8)


.group
  &__form
    padding: 20px 50px
    height: 100%
    border-radius: 10px
    background-color: rgba(43, 51, 62, 0.8)
    color: $light
    font-family: 'BrutaGlbRegular-Regular', sans-serif
    & h4
      font-size: 14px
      line-height: 20px
    & sup
      color: #76c208
    & input
      margin-bottom: 20px
      padding: 10px 10px
      border-radius: 5px
      border: transparent
      outline: none
    & button
      padding: 10px 10px
      width: 100%
      text-transform: uppercase
      color: $light
      background: linear-gradient(to top, #ff6501, #ff8201)
      border-radius: 5px
      border: transparent
      outline: none

    & p
      font-size: 12px






